*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
.container{
    background-image:  linear-gradient(to right, purple,rgb(185, 1, 213));
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
    background-color: white;
    width: 310px;
    padding: 25px;
display: flex;
flex-direction: column;
gap:20px;
border-radius:10px;
box-shadow:1px 2px 15px 2px rgba(0, 0, 0, 0.253);
}
.h2{
    text-align: center;
}
.output{
    height:30px;
    border:2px solid purple;
    text-align: center;
}
.btn{
      background-color: purple;
    color: white;
    height:30px;
    width:260px;
    border: none;
}